$light-gray:#ddd;
$light-green:#D2FFE8; 
$light-green1:#CCF5F8;
$light-white:#ffffff;
$light-black:#eee;
$pure-white:#FFFFFF;
$light-blue:#E2ECFF;
$pure-black:#000000;
$Dark-gray:#c1c1c1;
$light-pink:#FFDEDE;
$gray:#F2F4F4;
$gray-b:#828D99;/*text*/
$Dark-gray-b:#475F7B;/*Digits*/
$blue:#5A8DEE;

$green:#317613;
$gray-2:#727E8C;/*year*/
